#section-korisnici {
  background: url(images/griza-\ korisnici.jpg);
  background-size: cover;
  background-position: right center;
  height: 90vh;
  display: flex;
  align-items: center;
}

.griza-klienti_cover {
  flex-direction: column;
  width: 50%;
  margin-left: 60px;
}

.griza-klienti_cover h2 {
  font-size: 100px;
  margin-bottom: 30px;
}

.griza-klienti_cover p {
  font-size: 30px;
}

#zadovolstvo {
  background-color: rgb(241, 241, 241);
}

.emojis {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
}

.emoji-img,
.emoji-smile,
.emoji-sad {
  width: 20%;
  margin: 40px 10px;
  cursor: pointer;
  transition: 1s;
}

.emoji-smile,
.emoji-sad {
  width: 12%;
}

.emoji-img:hover {
  transform: scale(1.09);
}

.hidden {
  animation: fadeOut 800ms forwards;
  z-index: 0;
}

.griza-klienti_form-1,
.griza-klienti_form-2 {
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: showUp 3s forwards;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.zadovostvo-subtitle {
  text-align: center;
}

.input {
  width: 250px;
  text-align: center;
  height: 30px;
}

.submit {
  border: none;
  cursor: pointer;
}

.label {
  color: black;
  margin-bottom: 8px;
}

.response-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border: 1px solid #3f66da;
  border-radius: 15px;
  margin: 50px auto;
}

.response-message h3 {
  font-size: 40px;
  margin-bottom: 15px;
  padding-top: 40px;
}

.response-message p {
  font-size: 20px;
  padding-bottom: 60px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.6;
  }

  66% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }

  66% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}
